/* Put your custom CSS here */
body {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
}

.list {
  margin-top: 2rem;
}
#select {
  height: auto;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.poster img {
  margin-top: 2rem;
}

.details {
  text-align: center;
}
